/**
 * Center the header
 *
 * @format
 */
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./asset/fonts/Gilroy-Bold.ttf"), format(".ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("./asset/fonts/Gilroy-Regular.ttf"), format(".ttf");
}
@font-face {
  font-family: "Gilroy-semibold";
  src: url("./asset/fonts/Gilroy-SemiBold.ttf"), format(".ttf");
}

body {
  font-family: "Gilroy-Medium";
}
header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 170px;
  margin-right: 170px;
}

/* Style for the navigation links */
nav a {
  /* margin: 0 10px; */
  color: black;
  text-decoration: none;
  margin-left: 40px;
}

/* Style for the login button */
.login-button {
  color: blue;
  text-decoration: none;
}

/* Style for the "Try for Free" button */
.try-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

/*footer */
/*footer */
/* Center the footer */
footer {
  text-align: center;
  margin: 40px;
}

/* Style for footer blocks */
.footer-block {
  display: inline-block;
  margin-right: 20px;
  text-align: left;
  font-family: "Gilroy-semibold";
  font-size: 13px;
  line-height: 1.5;
  vertical-align: top; /* Add this line to align the blocks at the top */
}

/* Style for the footer icons */
.footer-block-icons img {
  width: 30px; /* Adjust the width as needed */
  margin-right: 5px;
}

/* Style for the footer text */
.footer-text {
  text-align: right;
  margin-top: 20px;
}

/* Reduce spacing between items in Solutions block */
.footer-block h3 {
  font-weight: bold;
  margin: 0; /* Remove the vertical margin */
}

.footer-block p {
  margin: 0; /* Remove the vertical margin */
  line-height: 1; /* Add this line to prevent line-height spacing */
}

/* url testing section */
.rectangle {
  width: max;
  height: 500px;
  background-image: url("./asset/icons/formbackground.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle2 {
  width: max;
  height: 500px;
  background-image: url("./asset/icons/formbackground.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.inputboxback {
  background-color: white;
  height: 300px;
  width: 456px;
  border-radius: 10px;
  padding: 40px;
}

.blue-input {
  border: 2px solid #3284ff;
  /* padding: 10px; */
  border-radius: 10px;
  height: 37px;
}

.blue-input::placeholder {
  color: #3284ff;
}
.terms-and-conditions {
  color: #3284ff;
}

.trimsubmitbtn {
  background-color: #005ae2;
  border-radius: 30px;
  width: 95%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40;
}
.getstarted1 {
  background-color: #005ae2;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

/* faq */
.card-section {
  margin-left: 300px;
  margin-right: 300px;
}

.card {
  margin-bottom: 50px;
}

.card-title {
  margin: 10;
  text-align: left;
  font-size: 14px;
}

.card-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.price-card-content {
  margin-bottom: 10px;
}

.faq-title {
  margin-top: 10;
  text-align: center;
  font-size: 40px;
}

/* pricnig section */
.centered-text {
  text-align: center;
}

.blue-text {
  color: #005ae2;
}

.price-title {
  margin-right: 75;
  margin-left: 75;
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
}
.price-title1 {
  margin: 0;
  margin-right: 75;
  margin-left: 75;
  text-align: center;
  font-size: 14px;
}
.price-title3{
  margin-right: 75;
  margin-left: 75;
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;

}

.pricing-section {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.pricing-card {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  /* flex: content; */
  padding: 70;
  margin: 50;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 20;
}

.pricing-features li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.featured-card {
  margin-top: -20px;
  background-color: #1e3448;
  z-index: -5;
  height: 500px;
}
.card-title-pro {
  margin: 10;
  text-align: left;
  color: white;
}

.card-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-image: url("./asset/icons/check-circle.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust the spacing between the icon and text */
}

.icon2 {
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
  background-image: url("./asset/icons/check-circlewhite.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px; /* Adjust the spacing between the icon and text */
}

.icon3 {
  display: inline-block;
  width: 25px; /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  background-image: url("./asset/icons/wand.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px; /* Adjust the spacing between the icon and text */
}
.icon4 {
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-image: url("./asset/icons/link.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px; /* Adjust the spacing between the icon and text */
  margin-bottom: 20px; /* Adjust the spacing between the icon and text */
}
.icon5 {
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-image: url("./asset/icons/edit.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px; /* Adjust the spacing between the icon and text */
  margin-bottom: 20px; /* Adjust the spacing between the icon and text */
}
.icon6 {
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-image: url("./asset/icons/apps.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px; /* Adjust the spacing between the icon and text */
  margin-bottom: 20px; /* Adjust the spacing between the icon and text */
}
.icon7 {
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  background-image: url("./asset/icons/health.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px; /* Adjust the spacing between the icon and text */
  margin-bottom: 20px; /* Adjust the spacing between the icon and text */
}
.icon8 {
  display: inline-block;
  width: 50px; /* Adjust the width as needed */
  margin: 0;
  height: 40px; /* Adjust the height as needed */
  background-image: url("./asset/icons/line7.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -30px;
}
.icon9{
  display: inline-block;
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 0px;
  height: 50px; /* Adjust the height as needed */
  background-image: url("./asset/icons/underscore.png"); /* Replace "icon.png" with the path to your icon image */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: -30px;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.card-content {
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
}

.custom-pricing-button {
  background-color: white;
  color: #005ae2;
  border: 2px solid #0065fe;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 120px;
  width: 200px;
}

.select-pricing-button {
  width: 200px;
  border-radius: 20px;
  background-color: #0065fe;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* whyc choose secrion  */
.block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.block {
  /* width: 250px; */
  /* height: 200px; */
  /* background-color: #f1f1f1; */
  border-radius: 8px;
}

.block2 {
  grid-column-start: 2;
}

.block-title {
  font-family: Gilroy;
  margin: 0;
  align-items: center;
  justify-items: center;
}
/* footerblock */
footer .block-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

footer .block {
  /* width: 250px; */
  /* height: 200px; */
  background-color: #f1f1f1;
  border-radius: 8px;
}

footer .block2 {
  grid-column-start: 2;
  /*  */
}

footer .block-titleb {
  font-family: Gilroy;
  /* margin: 0; */
  /* align-items: left; */
  /* justify-items: flex-start; */
}

/* title section */
.sub-title-passage{
  margin: 0;
  margin-right: 75;
  margin-left: 75;
  text-align: center;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 25px;
}


.sub-title-icon{
  flex: content;
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


